.nav{
    background-color: #f9f9fa;
    padding: 2vh 5vh;
    border-top: 1px solid rgba(0,0,0,0.2);
    position: fixed;
    bottom:0;
    width: 100%;
    box-sizing:border-box;
    /*
    css box padding의 디폴트 원리
    200픽셀의 박스에 50픽셀의 패딩을 주면, css는 
    기존 박스의 가로를 유지하기 위해 50만큼 박스를 늘림.
    이를 막기 위해 box-sizing:border-box를 쓰면 box의 크기를 
    유지한 채 padding을 줄 수 있다.
    */
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color:#2e363e;
    position: relative;
}

.nav__notification{
    display: flex;
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position:absolute;
    left: 15px;
    bottom: 15px;
}

.nav__update{
    display: flex;
    background-color: tomato;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    position:absolute;
    left: 30px;
    bottom: 25px;
}